
h1{
  color: orange;
  background-color: gray;
  text-align-last: center;
}
body{
  background-color: lightgrey;
}
p{
  color:black;
}
textarea{
  background-color: black;
  color: lightcyan;
  font-family: 'Courier New', Courier, monospace;
  font-style : italic;
}

